.project-container{
    width: 75%;
    height: 32rem;
    background: #fff;
    border-radius: 1.2rem;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.project-ghost-container {
    width: 75%;
    height: 32rem;
    background: #fff;
    border-radius: 1.2rem;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.project-active {
    z-index: 1;
    box-shadow: 0.5rem 0.5rem 1rem rgba(51, 51, 51, 0.2), 0.5rem 0.5rem 1rem rgba(51, 51, 51, 0.2);
}

.project-header,
.project-ghost-header {
    height: 15rem;
    background-image: linear-gradient(
        to right,
        rgba(77, 71, 168, 0.8),
        rgba(118, 34, 151, 0.8)
    ), url("https://wallpaperaccess.com/full/402810.jpg");
    background-size: cover;
    background-position: cover;
}

.project-picture,
.project-ghost-body img {
    border-radius: 100%;
    display: block;
    margin: auto;
    margin-top: -14rem;
    border: 0.5rem solid black;
    z-index: 100;
    width: 15em;
    height: 15em;
    object-fit: cover;
    background-color: white;
}

.project-body,
.project-ghost-body {
    padding: 0 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.project-body h1, 
.project-ghost-body h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2em;
    margin-top: 1em;
}

.project-body p,
.project-ghost-body p {
    font-size: 1.5em;
}

.project-ghost-header {
    background-image: linear-gradient(
        to right,
        rgba(119, 119, 119, 0.8),
        rgba(119, 119, 119, 0.8),
        ), url("https://shorturl.at/grwP6");
}

.project-ghost-body img {
    filter: blur(2px);
}

.project-ghost-body h1,
.project-ghost-body p i,
.project-ghost-footer button i,
.project-ghost-footer span i {
    color: #777;
    font-family: "Josefin Sans", sans-serif;
}

.project-footer,
.project-ghost-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 4em;
}

.project-active-animated-next {
    animation: moveRight 1.5s ease-in-out;
}

.project-inactive-animated-next {
    animation: moveLeft 1.5s ease-in-out;
}

.project-active-animated-previous {
    animation: moveRightOpposite 1.5s ease-in-out;
}

.project-inactive-animated-previous {
    animation: moveLeftOpposite 1.5s ease-in-out;
}

.nolink {
    display: none;
}

@keyframes moveRight {
0% {
    transform: translateX(0);
    box-shadow: none;
}
50% {
    transform: translateX(-10rem);
    box-shadow: none;
}
100% {
    transform: translateX(0);
}
}

@keyframes moveLeft {
0% {
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
}
50% {
    transform: translateX(18rem) scale(0.96);
    opacity: 0.7;
}
100% {
    transform: translateX(0) scale(0.98);
    opacity: 0.2;
}
}

@keyframes moveRightOpposite {
    0% {
        transform: translateX(0);
        box-shadow: none;
    }
    50% {
        transform: translateX(10rem);
        box-shadow: none;
    }
    100% {
        transform: translateX(0);
    }
    }
    
    @keyframes moveLeftOpposite {
    0% {
        transform: translateX(0);
        opacity: 1;
        z-index: 2;
    }
    50% {
        transform: translateX(-18rem) scale(0.96);
        opacity: 0.7;
    }
    100% {
        transform: translateX(0) scale(0.98);
        opacity: 0.2;
    }
    }

    @media (max-width: 450px) {
        .project-container,
        .project-ghost-container {
            width: 80%;
        }
        .project-body h1, 
        .project-ghost-body h1 {
            font-size: 1em;
        }
        .project-container p,
        .project-ghost-container p {
            font-size: 1em;
        }

        .project-picture,
        .project-ghost-body img {
            width: 10em;
            height: 10em;
        }
        .project-footer, .project-ghost-footer {
            font-size: 2em;
        }
    }

    @media (max-width: 800px) {
        .project-container {
            height: 38em;
        }

        .project-ghost-container {
            height: 38em;
        }
    }