* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* NavBar style */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.navbar {
  height: 10vh;
  background-color: rgba(2, 10, 19, 0.815);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.home-link ul a {
  text-decoration: none;
}

.home-link {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  color: #ebebeb;
  font-family: "Amatic SC", cursive;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links a {
  color: #ebebeb;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

.nav-links a:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.nav-links a:hover:after {
  width: 100%;
  background: rgb(93, 29, 212);
}

.navbar-toggler {
  display: none;
}

/* homepage style */

#home {
  height: 750px;
  background-image: url(images/abstract-expressionism-abstract-painting-acrylic-1174000.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.landing {
  background-color: rgba(5, 2, 20, 0.788);
  width: 800px;
  height: 500px;
  position: absolute;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* margin: 50px auto; */
  border-radius: 20%;
  border: 6px solid #ccc;
  -webkit-box-shadow: 3px 17px 43px 20px rgba(46, 39, 46, 1);
  -moz-box-shadow: 3px 17px 43px 20px rgba(46, 39, 46, 1);
  box-shadow: 3px 17px 43px 20px rgba(46, 39, 46, 1);
}

.landing h1 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 6em;
  color: #ebebeb;
  text-shadow: 4px 4px 0px #000000, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.landing h2 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 1.5em;
  color: #ebebeb;
}

.landing img {
  width: 40%;
  margin: 20px auto;
  display: block;
  border-radius: 30%;
  border: black solid 5px;
}

.landing p {
  font-family: "Josefin Sans", sans-serif;
  color: #ebebeb;
  text-align: center;
}

.home-icons {
  text-align: center;
}

.home-icons i {
  font-size: 3em;
  color: #ebebeb;
  margin: 10px;
}

/* About page */

#about {
  height: 800px;
  background-color: #ebebeb;
  background: linear-gradient(
    to bottom right,
    #59c3c3 0%,
    #59c3c3 75%,
    #fff 75%,
    #fff 100%
  );
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-header {
  font-family: "Amatic SC", cursive;
  color: #ebebeb;
  margin: 60px auto 0;
  grid-column: 1/3;
  display: block;
  font-size: 4em;
  height: 100%;
  padding-bottom: 0;
}

#about img {
  max-width: 70%;
  margin: 0 auto;
  display: block;
  grid-column: 2/3;
  border-radius: 25%;
  /* border: #52489C solid 10px; */
  box-shadow: 0 0 0 10px #52489c;
}

.about-blurb {
  display: block;
  grid: 1/2;
  grid-row: 2;
}

.about-blurb p {
  margin: 60px auto;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: #ebebeb;
  max-width: 70%;
  font-size: 1em;
  background: #52489c;
  padding: 30px 40px;
  border-radius: 25%;
  box-shadow: 0 0 0 10px #ebebeb;
}

/* projects */

#projects {
  height: 700px;
  background: #F45B69;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-title {
  font-family: "Amatic SC", cursive;
  text-align: center;
  color: #EBEBEB;
  margin: 60px auto 0px;
  grid-column: 1/3;
  display: block;
  font-size: 4em;
  height: 100%;
  width: 100%;
  padding-bottom: 0;
  background: #F45B69;
}

.project {
  background: #59C3C3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px auto 0;
  max-width: 80%;
  height: 300px;
  border-radius: 25%;
  box-shadow: 0 0 0 10px #ebebeb;

}

.project-name {
  font-family: "Amatic SC", cursive;
  color: #EBEBEB;
  text-align: center;
  grid-column: 1/4;
  grid-row: 1;
  display: block;
  font-size: 2em;
  height: 100%;
  padding-bottom: 0;
}

.project img {
  max-width: 70%;
  grid-column: 1/2;
  margin: 0 auto;
  border-radius: 20%;
  box-shadow: 0 0 0 5px #ebebeb;
  padding: 5px;

}

.project-blurb {
  grid-column: 2/4;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  max-width: 90%;;
}

.pro-links {
    margin: 10px;
}

/* contact page */

#contact {
  height: 500px;
  background-color: #52489C;
}

@media (max-width: 800px) {
  .line {
    width: 30px;
    height: 3px;
    background: #ebebeb;
    margin: 5px;
  }

  nav {
    position: relative;
    max-width: 100%;
  }

  .navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    /* border: none; */
    /* border-radius: 4px; */
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }

  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: "";
    background-color: #fff;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }

  .navbar .navbar-toggler.open-navbar-toggler span {
    background-color: transparent;
  }
  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
  }

  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
  }

  .nav-links {
    position: fixed;
    background-color: rgba(2, 10, 19, 0.815);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -50%);
    -webkit-clip-path: circle(100px at 90% -50%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    max-width: 80%;
    left: 35px;
  }

  #about {
    display: block;
    position: relative;
  }

  .about-blurb {
    display: block;
    max-width: 100%;
    position: absolute;
    margin: 350px 45px 0;
  }

  .about-blurb p {
    font-size: 0.5em;
    max-width: 90%;
    padding: 20px 20px;
  }

  .about-header {
    text-align: center;
    margin: 0;
    height: 20%;
  }

  .about-header h1 {
    padding-top: 60px;
  }

  #about img {
    position: absolute;
    top: 250px;
    left: 55px;
  }

  #projects {
    grid-template-columns: 1fr;
  }

  .project {
      grid-template-columns: 1fr;
  }
}
